[submodule "drupal"]
	path = drupal
	url = git://git.drupal.org/project/drupal.git
[submodule "modules/git_deploy"]
	path = modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "modules/libraries"]
	path = modules/libraries
	url = git://git.drupal.org/project/libraries.git
[submodule "modules/pathauto"]
	path = modules/pathauto
	url = git://git.drupal.org/project/pathauto.git
[submodule "modules/token"]
	path = modules/token
	url = git://git.drupal.org/project/token.git
