[submodule "drupal"]
	path = drupal
	url = git://git.drupal.org/project/drupal.git
[submodule "modules/git_deploy"]
	path = modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "modules/libraries"]
	path = modules/libraries
	url = git://git.drupal.org/project/libraries.git
[submodule "modules/i18n"]
	path = modules/i18n
	url = git://git.drupal.org/project/i18n.git
[submodule "modules/variable"]
	path = modules/variable
	url = git://git.drupal.org/project/variable.git
